.example-container {
  display: flex;
  flex-direction: column;
  /*max-height: 500px;*/
  /*min-width: 300px;*/
}
/*.example-container > * {*/
  /*width: 100%;*/
/*}*/


.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1)
{
  flex: 0 1 20px;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2)
{
  flex: 0 1 90px;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5)
{
  flex: 0 1 60px;
}




.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7)
{
  flex: 0 1 10px;
}
