
.login-container {
  display: flex;
  flex-direction: column;
}

.login-container > * {
  width: 50%;
}

/*.text-inside-grid {*/
  /*position: absolute;*/
  /*left: 150px;*/
/*}*/

::ng-deep .mat-card-header-text {
  width: 100%;
  text-align: center;
  font-size: 25px !important;
}

::ng-deep .mat-tab-label {
  border-radius: 3px;
  background-color: #eeeeee;
}

/*::ng-deep .mat-card-title {*/
  /*fxLayout  fxLayoutAlign="space-between stretch"*/
  /*!*: right !important;*!*/
  /*!*border-radius: 3px;*!*/
  /*!*background-color: #eeeeee;*!*/


  /*!*line-height: 10px !important;*!*/
  /*!*margin: 0 !important;*!*/
  /*!*font-size: 10px !important;*!*/
/*}*/
