

/*.shit.mat-grid-tile {*/
  /*background: gray;*/
/*}*/

/*mat-grid-tile {*/
  /*background: lightblue;*/
/*}*/

.text-inside-grid {
  position: absolute;
  left: 150px;
}

.mat-card-title {
  line-height: 20px !important;
  margin: 0 !important;
  font-size: 20px !important;
 }
