/*.example-fill-remaining-space {*/
/*// This fills the remaining space, by using flexbox.*/
/*// Every toolbar row uses a flexbox row layout.*/
/*flex: 1 1 auto;*/
/*}*/

/*.demo-toolbar {*/
  /*padding: 6px;*/

/*.demo-toolbar-icon {*/
  /*padding: 0 14px;*/
/*}*/

.toolbar-text {
  padding: 0 14px
}
.toolbar-icon {
  padding: 0 5px
}
.demo-fill-remaining {
  flex: 1 1 auto;
}
