<!--<div>-->
<!--<h1>Hi {{currentUser.firstName}}!</h1>-->
<!--<p>You're logged in with Angular 2/5 and Angular CLI!!</p>-->
<!--<h3>All registered users:</h3>-->
<!--<ul>-->
<!--<li *ngFor="let user of users">-->
<!--{{user.username}} ({{user.firstName}} {{user.lastName}})-->
<!-- - <a (click)="deleteUser(user.id)">Delete</a>-->
<!--</li>-->
<!--</ul>-->
<!--<p><a [routerLink]="['/login']">Logout</a></p>-->
<!--</div>-->
<!--<div *ngIf="isLoggedIn">-->
  <!--<div class="home-container">-->
    <!--&lt;!&ndash;<h1>Current User: {{currentUser.username}}</h1>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>&ndash;&gt;-->
    <!--&lt;!&ndash;</p>&ndash;&gt;-->
    <!--&lt;!&ndash;List of users: <p></p>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-selection-list *ngFor="let user of users">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-list-option >&ndash;&gt;-->
        <!--&lt;!&ndash;{{user.username}} ({{user.firstName}} {{user.lastName}})&ndash;&gt;-->
        <!--&lt;!&ndash; - <a (click)="deleteUser(user.id)">Delete</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<p></p>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-list-option>&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-selection-list>&ndash;&gt;-->

    <!--&lt;!&ndash;<p>&ndash;&gt;-->
    <!--&lt;!&ndash;Options selected: {{users.selectedOptions.selected.length}}&ndash;&gt;-->
    <!--&lt;!&ndash;</p>&ndash;&gt;-->

    <!--<p><a [routerLink]="['/login']">Logout</a></p>-->
  <!--</div>-->
<!--</div>-->
