<div class="register-container">
  <mat-card>
    Main Theme:
    <button mat-raised-button color="primary">
      Primary
    </button>
    <button mat-raised-button color="accent">
      Accent
    </button>
    <button mat-raised-button color="warn">
      Warning
    </button>
  </mat-card>

  <mat-card class="alternate-theme">
    Alternate Theme:
    <button mat-raised-button color="primary">
      Primary
    </button>
    <button mat-raised-button color="accent">
      Accent
    </button>
    <button mat-raised-button color="warn">
      Warning
    </button>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="mat-card-header-text">Register</mat-card-title>
      <p></p>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="{{loginImgUrl}}">
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="1:.2">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="First Name" [ngModel] = "register_in_progress.firstName" required>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Last Name" required
                   [(ngModel)] = "register_in_progress.lastName" >
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="User Name" required
                   [(ngModel)] = "register_in_progress.username" >
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Password" required type="password"
                   [(ngModel)] = "register_in_progress.password" >
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-button (click)="cancelPressed()">Cancel</button>
      <span class="done">
          <button mat-fab (click)="register()">
            <mat-icon>check circle</mat-icon>
          </button>
        </span>
    </mat-card-actions>
    <mat-card-footer>

    </mat-card-footer>
  </mat-card>
</div>
